.slate {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

@mixin unselectable {
  property: value;
  property: value;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.aj {
  @include unselectable;
  font-size: 123px;
  transform: rotate(339deg);
  font-family: 'Over the Rainbow', cursive;
}

.slogan {
  @include unselectable;
  position: relative;
  top: -40px;
  font-size: small;
  font-weight: lighter;
  letter-spacing: 5px;
}

.loadmore {
  position: relative;
  top: -20px;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .loadmore {
    animation: bounce infinite 3s ease-in-out;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.menuitem {
  font-size: 50px;
  opacity: 0.5;
  line-height: 50px;
  cursor: pointer;
  transition-property: line-height;
  transition-duration: 0.5s;
  color: #28282B;
  -webkit-text-stroke: 2px #f5f5f5;
}
.menuitem:hover {
  color: #f5f5f5;
  opacity: 1;
  line-height: 70px;
}